body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 630px;
    background-color: red;
    border: 10px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 72px;
    margin: 4px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: border-box;
}

.blue-piece {
    background-color: blue;
}

.white-piece {
    background-color: white;
}